.container {
  display: flex;
  flex-flow: wrap;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
}
.profile {
  margin: 5px;
  flex-basis: 20%;
  height: 250px;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  border: solid 1px aliceblue;
  border-radius: 5px;

}

.profile:hover {
  background-color: grey;
  transition-duration: 500ms;
}
.info {
  display: inline-grid;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.image {

  align-self: center;
}

.jobless {
  color: red;
}
